<div class="col-lg-{{ widget.size }}">
  <div class="card weather-box">
    <h4 class="weather-title box-title">Weather</h4>
    <div class="card-body">
      <div class="weather-widget">
        <div id="weather-one" class="weather-one">
          <div class="top">
            <i class="wi wi-yahoo-11"></i>
            <div class="currently">Showers</div>
            <div class="updates">Sat, 27 Oct 2018</div>
          </div>
          <div class="middle">
            <div class="city">New York  <span>  NY</span></div>
            <div class="temp">8<span>°C</span> </div>
          </div>
          <div class="nextdays">
            <div class="days day2"><span class="d">Sun</span> <span class="h">12° </span> <span class="h">8°  </span></div>
            <div class="days day3"><span class="d">Mon</span> <span class="h">13° </span> <span class="h">8°  </span></div>
            <div class="days day4"><span class="d">Tue</span> <span class="h">14° </span> <span class="h">6°  </span></div>
            <div class="days day5"><span class="d">Wed</span> <span class="h">18° </span> <span class="h">9°  </span></div>
            <div class="days day1"><span class="d">Thu</span> <span class="h">16° </span> <span class="h">13°  </span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.card -->
</div>